body {
  margin: 0;
  overflow: hidden;
  background: #333;
  font-family: Arial, sans-serif;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-area {
  position: relative;
  width: 500px;
  height: 600px;
  background-image: url('img/background.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position-y: 0;
  overflow: hidden;
  border: 2px solid #fff;
}


#player {
  position: absolute;
  bottom: 10px;
  width: 80px;
  height: 120px;
  background-image: url('img/player.png');
  background-size: cover;
  left: 210px;
}

.enemy {
  position: absolute;
  width: 80px;
  height: 120px;
  background-size: cover;
  top: -150px;
}

#start-screen,
#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  padding: 30px;
  border: 2px solid white;
  color: white;
  text-align: center;
  display: none;
  z-index: 10;
}

#score-display {
  color: white;
  font-size: 22px;
  margin-top: 20px;
  display: none;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid white;
  border-radius: 10px;
}
